@charset "utf-8"; /* 맨위에 utf-8 인코딩 표시 필수 */
/* 서브페이지용 css */

/*공통외부 css 합치기*/
@import url(./common.css);

/* 서브타이틀 */
h2.stit {
    font-size: 34px;
    font-family: "Noto Sans KR", sans-serif;
    text-shadow: 2px 2px 2px #73a2f7;
    color: #222;
    text-align: center;
}
#cont {
    font-family: "Nanum Gothic", sans-serif;
}
#cont .prlogo {
    width: 82px;
    margin-bottom: 8px;
}
#cont .prlogo img {
    width: 100%;
}
#cont .atit {
    margin-bottom: 30px;
    font-size: 26px;
    letter-spacing: -2px;
}
#cont .afig {
    margin: 0 0 50px;
    text-align: center;
}
#cont .afig img {
    max-width: 100%;
}

#cont .afig figcaption {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
}

#cont .videoBox {
    position: relative;
    margin: 50px 0;
    padding-top: 56%;
    overflow: hidden;
}
#cont .videoBox iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
#cont .rpt {
    margin: 50px 0 30px;
}
