@charset "utf-8"; /* 맨위에 utf-8 인코딩 표시 필수 */
/* 서브페이지용 css */

/*공통외부 css 합치기*/
@import url(./common.css);

/* 서브페이지 공통 글자설정 */
#cont {
    font-family: "Noto Sans KR", sans-serif;
}

/* 서브타이틀 */
h2.stit {
    margin-bottom: 30px;
    font-size: 34px;
    font-family: "Noto Sans KR", sans-serif;
    text-shadow: 3px 3px 3px #000;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    outline: 1px solid #73a2f7;
    /* 
        [ outline 요소 ]
        box 모델의 필수속성은 아니지만
        박스의 외곽선을 표현해주며
        박스자체 크기에 영향을 주지않음!
        outline : 두께 종류 색상
        -> border와 셋팅이 같음!
        단, border-radius 둥근모서리는 보더만 적용되었으나 아웃트라인도 됨
        -> 주로 사용되는 예는 input 입력창에서 포커스가 갈 경우 외곽선표시가 됨
    */
    padding: 40px;
    /* 배경넣기 : 한번에 쓰기*/
    /* background: url(../images/afig4.jpg) no-repeat center/cover; */
    /* background: 배경색 이미지 반복 고정 위치/크기 (색이반고윙/크) -> 웹표준 백그라운드 순서 */

    /* 배경넣기 : 속성별쓰기 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0px 8px 5px rgba(0, 0, 0, 0.8); /* bsh */
    /* 
        [ box-shadow 속성 ] 
        - 박스 외부/내부 그림자 설정속성
        - 값 : x축 y축 blur spread 색
        text-shadow와 달리 spread 속성이 있음
        이것은 그림자를 커지게함!
        - 내부그림자 옵션 : inset
        - 그림자 다중설정 : 콤마로 연속사용가능
    
    */
}
#cont .st1 {
    background-image: url(../images/afig1.jpg);
}
#cont .st2 {
    background-image: url(../images/afig2.jpg);
}
#cont .st3 {
    background-image: url(../images/afig3.jpg);
    background-position-y: -100px;
}
#cont .st4 {
    background-image: url(../images/afig4.jpg);
}
#cont .st5 {
    background-image: url(../images/afig5.jpg);
    background-position-y: -100px;
}
#cont .prlogo {
    margin-bottom: 8px;
}
#cont .prlogo img {
    height: 32px;
}

/* 기사타이틀 */
#cont .atit {
    margin-bottom: 30px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    letter-spacing: -2px;
}

/* 기사이미지 */
.afig {
    margin: 0 0 50px;
    text-align: center;
}
.afig img {
    width: 100%;
}

/* 기사이미지 설명 */
.afig figcaption {
    margin-top: 10px;
    font-size: 15px;
    color: #999;
}

/* 기사 문단 */
.acont p {
    font-size: 17px;
    color: #222;
    /* 자간 :ls */
    letter-spacing: 1px;
    /* 단어간격 : ws */
    word-spacing: 1px;
    /* 양쪽정렬 : taj */
    text-align: justify;
    /* 줄간격 : lh */
    line-height: 1.6;
}

/* 강조 em요소 디자인변경 */
.acont p em {
    /* 이탤릭해제 */
    font-style: normal;
    /* 글자색변경 */
    color: #408cd3;
    /* 글자 두껍게 */
    font-weight: bold;
    /* 글자그림자 */
    text-shadow: 2px 1px 1px #26343d;
}

.acont p mark {
    display: block;
    width: 65%;
    text-align: center;
    background-color: #ebebeb;
    margin: 20px auto;
    padding: 30px 50px;
    font-size: 20px;
    font-weight: bold;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    color: cornflowerblue;
    font-family: "Orbit", sans-serif;
    box-sizing: border-box;
}

/* 동영상박스 */
.videoBox {
    position: relative;
    margin: 50px 0;
    padding-top: 56%;
    overflow: hidden;
    /* div와 같은 block요소는 width 설정을 하지 않으면 width:auto 로 자동설정됨. 이는 싸고 있는 박스 컨텐츠 영역을 자동으로 채워준다! */
}
.videoBox iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: none;
}

/* 인용블록 영역 */
.bqbx {
 
}

.atbx h5 {
    display: inline-block;
    background-color: #ebebeb;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.5);
}

/* 기자 이름, 이메일 */
.rpt {
    margin: 50px 0 30px;
}

/* 기사원문 */
.alink {
    text-align: right;
}
.alink a {
    display: inline-block;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    border: 3px solid #eee;
    background-color: #a8cfef;
    border-radius: 50%;
    text-decoration: none;
    font-size: 15px;
    font-family: "Nanum Gothic", sans-serif;
    color: #000;
}
.alink a:hover {
    color: #fff;
    box-shadow: 0 0px 5px 4px #a8cfef;
    transition: 0.2s;
}
