@charset "utf-8"; /* 맨위에 utf-8 인코딩 표시 필수 */
/* 서브페이지용 css */

/*공통외부 css 합치기*/
@import url(./common.css);

/* 서브페이지 공통 글자설정 */
#cont {
    font-family: "Noto Sans KR", sans-serif;
}

/* 서브타이틀 */
h2.stit {
    margin-bottom: 30px;
    font-size: 34px;
    font-family: "Noto Sans KR", sans-serif;
    text-shadow: 3px 3px 3px #000;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    outline: 1px solid #73a2f7;
    /* 
        [ outline 요소 ]
        box 모델의 필수속성은 아니지만
        박스의 외곽선을 표현해주며
        박스자체 크기에 영향을 주지않음!
        outline : 두께 종류 색상
        -> border와 셋팅이 같음!
        단, border-radius 둥근모서리는 보더만 적용되었으나 아웃트라인도 됨
        -> 주로 사용되는 예는 input 입력창에서 포커스가 갈 경우 외곽선표시가 됨
    */
    padding: 40px;
    /* 배경넣기 : 한번에 쓰기*/
    /* background: url(../images/afig4.jpg) no-repeat center/cover; */
    /* background: 배경색 이미지 반복 고정 위치/크기 (색이반고윙/크) -> 웹표준 백그라운드 순서 */

    /* 배경넣기 : 속성별쓰기 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0px 8px 5px rgba(0, 0, 0, 0.8); /* bsh */
    /* 
        [ box-shadow 속성 ] 
        - 박스 외부/내부 그림자 설정속성
        - 값 : x축 y축 blur spread 색
        text-shadow와 달리 spread 속성이 있음
        이것은 그림자를 커지게함!
        - 내부그림자 옵션 : inset
        - 그림자 다중설정 : 콤마로 연속사용가능
    
    */
}
#cont .st1 {
    background-image: url(../images/afig1.jpg);
}
#cont .st2 {
    background-image: url(../images/afig2.jpg);
}
#cont .st3 {
    background-image: url(../images/afig3.jpg);
    background-position-y: -100px;
}
#cont .st4 {
    background-image: url(../images/afig4.jpg);
}
#cont .st5 {
    background-image: url(../images/afig5.jpg);
    background-position-y: -100px;
}
#cont .prlogo {
    margin-bottom: 8px;
}
#cont .prlogo img {
    height: 32px;
}

/* 기사타이틀 */
#cont .atit {
    margin-bottom: 30px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    letter-spacing: -2px;
}

/* 기사이미지 */
.afig {
    margin: 0 0 50px;
    text-align: center;
}
.afig img {
    width: 100%;
}

/* 기사이미지 설명 */
.afig figcaption {
    margin-top: 10px;
    font-size: 15px;
    color: #999;
}

/* 기사 문단 */
.acont p {
    font-size: 17px;
    color: #222;
    /* 자간 :ls */
    letter-spacing: 1px;
    /* 단어간격 : ws */
    word-spacing: 1px;
    /* 양쪽정렬 : taj */
    text-align: justify;
    /* 줄간격 : lh */
    line-height: 1.6;
}

/* 강조 em요소 디자인변경 */
.acont p em {
    /* 이탤릭해제 */
    font-style: normal;
    /* 글자색변경 */
    color: #408cd3;
    /* 글자 두껍게 */
    font-weight: bold;
    /* 글자그림자 */
    text-shadow: 2px 1px 1px #26343d;
}

.acont p mark {
    display: block;
    width: 65%;
    text-align: center;
    background-color: #ebebeb;
    margin: 20px auto;
    padding: 30px 50px;
    font-size: 20px;
    font-weight: bold;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    color: cornflowerblue;
    font-family: "Orbit", sans-serif;
    box-sizing: border-box;
}

/* 동영상박스 */
.videoBox {
    position: relative;
    margin: 50px 0;
    padding-top: 56%;
    overflow: hidden;
    /* div와 같은 block요소는 width 설정을 하지 않으면 width:auto 로 자동설정됨. 이는 싸고 있는 박스 컨텐츠 영역을 자동으로 채워준다! */
}
.videoBox iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: none;
}

/* 인용블록 영역 */
.bqbx {
    padding: 20px 0;
    margin: 20px 0;
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    font-size: 15px;
}

.bqbx blockquote {
    padding: 15px 0;
    line-height: 1.8;
}

.bqbx img {
    float: right;
    border-radius: 5px;
    margin-left: 20px;
}

.atbx h5 {
    display: inline-block;
    background-color: #ebebeb;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 17px;
    color: 333;
    margin: 0;
}

/* 기자 이름, 이메일 */
.rpt {
    margin: 50px 0 30px;
}

/* 기사원문 */
.alink {
    text-align: right;
}
.alink a {
    display: inline-block;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    border: 3px solid #eee;
    background-color: #a8cfef;
    border-radius: 50%;
    text-decoration: none;
    font-size: 15px;
    font-family: "Nanum Gothic", sans-serif;
    color: #000;
}
.alink a:hover {
    color: #fff;
    box-shadow: 0 0px 5px 4px #a8cfef;
    transition: 0.2s;
}

.desc {
    padding: 25px 0;
    margin-bottom: 20px;
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
}
.desc h5 {
    margin-bottom: 20px;
}
.desc > div {
    font-size: 16px;
    line-height: 1.8;
}

/* 오늘의 작품&느낌 */
.work {
    text-align: center;
    /* 배경색 */
    /* background-color: lightpink; */

    /* 그라데이션 -> 이미지로! bgi */
    background-image:linear-gradient(45deg, #91ff9f, #ddb9ff, #7adaff);
    /* 
    [ 선형 그라데이션 : linear-gradient ]
    background-image: linear-gradient(방향, 색1, 색2);
    background-image: linear-gradient(방향, 색1 몇%, 색2 몇%);
    background-image: linear-gradient(각도, 색1 몇%, 색2 몇%);
    -옵션
        1.방향 : to top, to bottom, to left, to :right
        2.각도 : 각도deg
        3.콤마로 나열된 색상에 %를 뒤에 쓰면 비율 조정가능!

    */

    /* border: 50px dotted #09a1ff;
    padding: 50px; */

    /* 
        배경옵션 추가!!! 
        background-clip : 배경이 적용되는 범위설정
        1. border-box -> 보더까지 적용(기본값)
        2. padding-box -> 패딩까지 적용
        3. cotent-box -> 내용 영역만 적용(패딩, 보더빠짐)
    
    */
    background-clip: content-box;box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/* 작품 타이틀 */
.work h3 {
    font-family: "Dongle", sans-serif;
    font-weight: normal;
    font-size: 45px;
    color: #333;
    padding: 30px 0 15px;
}
.work img {
    border: 15px ridge goldenrod; /* ridge액자틀 모양 */
}
/* 작품명 */
.work figcaption {
    font-size: 20px;
    font-family: 'Orbit', sans-serif;
    font-weight: bold;
    padding: 10px 0 25px;
}
/* 작품명 인용구*/
.work figcaption cite {
    font-style: normal;
    color: darkorchid;
}

/* 뉴스 파트 공통 class */
.nbx {
    border-top: 2px dashed #ccc;
    margin: 20px 0;
    padding: 20px 0;
}

/* 뉴스 파트 공통 a요소 */
.nbx a{
    font-size: 17px;
    line-height: 2.5;
    text-decoration: none;
    color: #222;
}

/* 공통 a마우스 오버 */
.nbx a:hover{
    color: yellowgreen;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

/* 뉴스 타이틀 공통 */
.nbx h3{
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 22px;
    background-image: linear-gradient(to right, lightblue, transparent);
    padding: 15px;
    margin-bottom: 25px;
}

/* 한줄 말줄임표시하기 공통처리 */
.nbx li, .nbx dd, .nbx td {
    white-space: nowrap; /* 1.줄바꿈방지 wh*/
    overflow: hidden; /* 2.넘치는 컨텐츠 숨기기 oh */
    text-overflow: ellipsis; /* 3. 넘치는 글자 말줄임표시 tv */
    /* 
        추가) 여러줄일때 말줄임은 아래와 같음
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 라인수;
        -webkit-box-orient: vertical;

        단, 박스 높이값을 글자가 보일만큼 조절함
        -> white-space : nowrap; 없음!!!!
    */
}

/* 주요뉴스 ul */
.cnews ul li::before {
    content: '🔎';
    margin-right: 8px;
}
.cnews ul li::after {
    content: '📢';
    margin-left: 8px;
}
/* 
    [ css 가상요소 : before, after ]
    - 모든 요소는 맨앞과 맨뒤에 가상요소를 사용할 수 있다
    - 맨앞은 before, 맨뒤는 after
    - 필수속성 : content
    - 이미지는 url() 사용!
*/

/* 주요뉴스 li별 글자색 바꾸기 */
.cnews li:first-child a {
    color: red;
}
.cnews li:nth-child(2) a {
    color: blue;
}
.cnews li:last-child a {
    color: violet;
}

/* 분야별 뉴스 */
.snews dt {
    border: 3px dashed #fff;
    background-color: #5bb0cd;
    display: inline-block;
    font-family: 'Orbit', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    padding: 5px 18px 8px 18px;
    margin-top: 20px; 
    color: #fff;
    box-shadow: 0 0 6px 2px rgba(0,0,0,.2);
}

/* dd앞에 가상요소로 블릿넣기 */
.snews dd::before {
    content: '🎈';
}

/* 분야별뉴스 dt별 글자색, 배경색변경하기 */
.snews dt:first-of-type {
    color: red;
    background-color: lightgoldenrodyellow;
    border-color: darkgrey;   
}
.snews dt:nth-of-type(2) {
    color: blueviolet;
    background-color: lightgoldenrodyellow;   
}
.snews dt:last-of-type {
    color: green;
    background-color: lightgoldenrodyellow;   
}
/* 
[ 자식요소 선택 가상클래스 : 자식요소 종류가 같아야함! ]
    요소:first-child -> 첫번째 자식요소
    요소:nth-child(n) -> n번째 자식요소
    요소:last-child -> 마지막째 자식요소

[ 여러종류가 섞여 있을 경우 형제 선택하기 ]
    요소:first-of-type -> 같은 요소 중 첫번째
    요소:nth-of-type(n) -> 같은 요소 중 n번째
    요소:last-of-type -> 같은 요소 중 마지막째

    (단, n은 1부터)
*/